@font-face {
  font-family: "Circular Std";
  src: url("/src/fonts/circular-std-medium-500.ttf") format("ttf"),
    url("/src/fonts/circular-std-medium-500.ttf") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* UTILITIES STARTS FROM HERE */
.brand{
  color: #014e9a;
}
.brand-background{
  background-color: #4169E1;
}
.dashboard-bg{
  background-color: #effdffe3;
}
.sidenav-bg{
  background-color: #002699;
}
.sidenav-hover-color{
  background-color: #FF6600;
}
.cursor{
  cursor: pointer;
}
.full-width{
  width: 100%;
}
.full-height{
  min-height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
.input-number[type="number"]::-webkit-outer-spin-button,
.input-number[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* UTILITIES ENDS HERE */

/* PREDEFINED FONT TYPE FOR THE APPLICATION */
h1,
h2,
h3,
h4,
h5,
h6,
small,
p,
b,
a,
i,
li,
select {
  font-family: "Circular Std";
}
/* PREDEFINED FONT TYPE FOR THE APPLICATION ENDS HERE */


/* THE ONBOARDING STARTS SCREEN */
.onboarding_bg{
  background-image: url("/src/assets/login_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
}
/* THE ONBOARDING ENDS SCREEN */


/* NAVBAR */
.navbar{
  height: 5.1em;
}
.searchbox{
  border: none;
  outline: none;
  background-color: #F0F2FA;
  width: 200px;

}
.search_wrap{
  background-color: #F0F2FA;
  padding: 0.6em;
  border-radius: 5px;
  width: 284px;
}
.notification{
  font-size: 25px;
  margin-top: 5px;
}