@font-face {
  font-family: "Circular Std";
  src: url("/src/fonts/circular-std-medium-500.ttf") format("ttf"),
    url("/src/fonts/circular-std-medium-500.ttf") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* UTILITIES STARTS FROM HERE */
.brand{
  color: #014e9a;
}
.brand-background{
  background-color: #4169E1;
}
.cursor{
  cursor: pointer;
}
.full-width{
  width: 100%;
}
/* UTILITIES ENDS HERE */

/* PREDEFINED FONT TYPE FOR THE APPLICATION */
h1,
h2,
h3,
h4,
h5,
h6,
small,
p,
b,
a,
i,
li,
select {
  font-family: "Circular Std";
}
/* PREDEFINED FONT TYPE FOR THE APPLICATION ENDS HERE */


/* THE ONBOARDING STARTS SCREEN */
.onboarding_bg{
  background-image: url("/src/assets/login_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
}
/* THE ONBOARDING ENDS SCREEN */

