
/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #4169e1; /* Grey color */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light grey background */
}

/* For Firefox */
/* html {
  

/* For IE and Edge (older versions) */
body {
  -ms-overflow-style: scrollbar; /* Show scrollbars */
}

@font-face {
  font-family: "Circular Std";
  src: url("/src/fonts/circular-std-medium-500.ttf") format("ttf"),
    url("/src/fonts/circular-std-medium-500.ttf") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* UTILITIES STARTS FROM HERE */
.viewAllBtn {
  background-color: #ff6600;
  border: none;
  outline: none;
}
.brand {
  color: #014e9a;
}
link, a{
  text-decoration: none;
  color: white;
}
link, a:focus{
  color: white;
  text-decoration: none;
  
}
.brand-background {
  background-color: #4169e1;
}
.dashboard-bg {
  background-color: #effdff6c;
}
.sidenav-bg {
  background-color: #002699;
  position: fixed;
  width: 16.6%;
}
.sidenav-hover-color {
  background-color: #ff6600;
}
.cursor {
  cursor: pointer;
}
.full-width {
  width: 100%;
}
.full-height {
  min-height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
.input-number[type="number"]::-webkit-outer-spin-button,
.input-number[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* UTILITIES ENDS HERE */

/* PREDEFINED FONT TYPE FOR THE APPLICATION */
h1,
h2,
h3,
h4,
h5,
h6,
small,
p,
b,
a,
i,
li,
select {
  font-family: "Circular Std";
}
/* PREDEFINED FONT TYPE FOR THE APPLICATION ENDS HERE */

/* THE ONBOARDING STARTS SCREEN */
.onboarding_bg {
  background-image: url("/src/assets/login_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
}
/* THE ONBOARDING ENDS SCREEN */

/* NAVBAR */
.navbar {
  height: 5.1em;
  /* position: fixed; */
}
.searchbox {
  border: none;
  outline: none;
  background-color: #f0f2fa;
  width: 240px;
}
.search_wrap {
  background-color: #f0f2fa;
  padding: 0.6em;
  border-radius: 5px;
  width: 284px;
}
.notification {
  font-size: 25px;
  margin-top: 5px;
}

/* DASBOARD STYLES STARTS FROM HERE */
.dashboard_route_hover:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 102, 0, 1) 0%,
    rgba(255, 102, 0, 1) 60%,
    rgba(0, 38, 153, 1) 100%
  );
  border-left: 3px solid white;
}
.logout_toggler {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.062);
  width: 166px;
  height: 90px;
  border-radius: 5px;
  right: 1em;
  /* top: 2.7em; */
}
.move-profile {
  position: relative;
  top: 8px;
}
.move-logout {
  position: relative;
  bottom: 11px;
}
.leads {
  position: relative;
  top: 7px;
}
/* DASBOARD STYLES ENDS HERE */
.cards {
  /* height: 190px;
  width: 100%; */
  border-radius: 8px;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.062);
  background: white;
  padding: 2.7em;
  z-index: 0;
}
.backAddRiderBtn {
  background-color: rgba(0, 0, 0, 0.11);
  padding: 5px;
  border-radius: 50px;
}
/* SIDEBAR */

/* SIDEBAR ENDS */

.icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e0f7e9; /* Light green background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  color: #28a745; /* Green color */
  font-size: 50px;
}

.rider_admin_btn {
  width: 182px;
  height: 47px;
  border-radius: 4px;
}

.riders_form_bg {
  background-color: white;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.062);
  min-height: 75vh;
}

/* dashboard table notification header */
.noti_bg {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.062);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

.noti_text {
  color: black;
}

.noti_text:hover {
  color: #ff6600;
  cursor: pointer;
}

/* activities */
.activities-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}

.activity-timeline {
  padding-left: 30px;
  position: relative;
}

.activity-timeline::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #d9d9d9;
}

.activity-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.activity-icon-container {
  position: absolute;
  left: -13px;
  top: 5px;
}

.activity-icon {
  font-size: 20px;
  color: #4caf50;
}

.activity-content {
  margin-left: 40px;
}

.activity-status {
  font-weight: bold;
  font-size: 1rem;
}

.activity-detail {
  color: #88888871;
  position: relative;
  bottom: 5px;
  font-size: 0.7rem;
}

.activity-time {
  margin-left: auto;
  font-size: 0.85rem;
  background-color: rgba(56, 107, 246, 0.25);
  border-radius: 12px;
  padding: 5px 10px;
  color: #333;
}

.rider-info {
  border-top: 1px solid #eee;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rider-details {
  display: flex;
  align-items: center;
}

.rider-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.rider-name {
  font-weight: bold;
  font-size: 1rem;
}

.rider-rating .rating-stars {
  color: #ffc107;
  font-size: 1.2rem;
}


.workbench-bg{
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  
}